<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="./lib/vue.js"></script>
	</head>
	<body>
		
		<div id="app">
			
			<input type="text" v-model="firstname">+
			<input type="text" v-model="lastname">=
			<input type="text" v-model="fullname">
			
			{{fullname}}
			{{fullname}}
			
		</div>
		
		
		<script type="text/javascript">
			
			let vm = new Vue({
				el:'#app',
				data:{
					firstname:'',
					lastname:'',
					// fullname:'',
				},
				methods:{},
				computed:{
					// 在computed中可以定义一刻属性,这些属性叫做计算属性,计算属性的本质,就是一个方法,只不过,我们在使用计算属性的时候是把他们的名称直接当做属性来使用,并不把计算属性当作方法来使用.
					// 计算属性调用的时候后面不要加(), 直接当作普通的属性去使用
					// 只要计算属性这个function中用到的任何data中的数据发生了变化,就会立即重新计算这个计算属性的值
					'fullname':function(){
						console.log("ok");
						return this.firstname+' '+this.lastname;
					}
					
				}
			})
		</script>
	</body>
</html>
